
USE [Medialunas]
GO
/****** Object:  StoredProcedure [dbo].[bitacora_alta]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[bitacora_alta]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE procedure [dbo].[bitacora_alta]
@usuario varchar(50), @accion varchar(50),@fecha Datetime, @dvh varchar(50) as
begin
insert into bitacora values (@usuario,@accion, @fecha, @dvh);
end

' 
END
GO
/****** Object:  StoredProcedure [dbo].[bitacora_leer]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[bitacora_leer]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[bitacora_leer]
 as
begin
select * from bitacora
end

' 
END
GO
/****** Object:  StoredProcedure [dbo].[digitoverificador_alta]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[digitoverificador_alta]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE procedure [dbo].[digitoverificador_alta]
@tabla varchar(50), @dvv varchar(50), @dvh varchar(50) as
begin
insert into digitoverificador values (@tabla, @dvv, @dvh);
end;
' 
END
GO
/****** Object:  StoredProcedure [dbo].[digitoverificador_leer]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[digitoverificador_leer]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE procedure [dbo].[digitoverificador_leer]
 as
begin
select * from digitoverificador
end

' 
END
GO
/****** Object:  StoredProcedure [dbo].[digitoverificador_modificar]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[digitoverificador_modificar]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE procedure [dbo].[digitoverificador_modificar]
@tabla varchar(50), @dvv varchar(50), @dvh varchar(50) as
begin
update digitoverificador set dvv = @dvv, DVH = @dvh where tabla = @tabla ;
end;
' 
END
GO
/****** Object:  StoredProcedure [dbo].[item_alta]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[item_alta]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[item_alta]
@pedido int, @producto int, @cantidad int, @precio float as
begin
insert into item values (@pedido,@producto, @cantidad, @precio);
end

' 
END
GO
/****** Object:  StoredProcedure [dbo].[item_leer]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[item_leer]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[item_leer]
 as
begin
select * from item
end

' 
END
GO
/****** Object:  StoredProcedure [dbo].[panaderia_leer]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[panaderia_leer]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[panaderia_leer]
 as
begin
select * from panaderia
end

' 
END
GO
/****** Object:  StoredProcedure [dbo].[pedido_alta]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pedido_alta]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[pedido_alta]
@panaderia int, @usuario varchar(50)as
begin
insert into pedido values (@panaderia,@usuario);
end

' 
END
GO
/****** Object:  StoredProcedure [dbo].[pedido_leer]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pedido_leer]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[pedido_leer]
 as
begin
select * from pedido
end

' 
END
GO
/****** Object:  StoredProcedure [dbo].[permiso_buscar]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[permiso_buscar]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[permiso_buscar]
@id int as
begin
select * from Permiso where permiso.id = @id;

end
' 
END
GO
/****** Object:  StoredProcedure [dbo].[permiso_leer]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[permiso_leer]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[permiso_leer]
 as
begin
select * from permiso
end

' 
END
GO
/****** Object:  StoredProcedure [dbo].[producto_alta]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[producto_alta]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE procedure [dbo].[producto_alta]
@descripcion varchar(50), @imagen varchar(50), @dvh varchar(50) as
begin
insert into producto values (@descripcion, @imagen, @dvh);
end;
' 
END
GO
/****** Object:  StoredProcedure [dbo].[producto_leer]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[producto_leer]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[producto_leer]
 as
begin
select * from producto
end

' 
END
GO
/****** Object:  StoredProcedure [dbo].[producto_modificar]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[producto_modificar]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE procedure [dbo].[producto_modificar]
@id int, @descripcion varchar(50), @imagen varchar(50), @dvh varchar(50) as
begin
update producto set descripcion = @descripcion, imagen = @imagen, DVH = @dvh where id = @id ;
end;
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usuario_alta]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usuario_alta]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE procedure [dbo].[usuario_alta]
@login varchar(50),@pass varchar(50),@nombre varchar(50),
@apellido varchar(50),@correo varchar(50), @dvh varchar(50) as
begin
insert into Usuario values (@login,@pass, @nombre,@apellido,@correo, 0, 0,@dvh);
end
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usuario_buscar]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usuario_buscar]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE procedure [dbo].[usuario_buscar]
@login varchar(50) as
begin
select * from usuario where usuario.login = @login;

end
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usuario_leer]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usuario_leer]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[usuario_leer]
 as
begin
select * from usuario
end

' 
END
GO
/****** Object:  StoredProcedure [dbo].[usuario_login]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usuario_login]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE procedure [dbo].[usuario_login]
@login varchar(50), @pass varchar(50) as
begin
select * from usuario where usuario.login = @login and usuario.pass = @pass;

end
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usuario_modificar]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usuario_modificar]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE procedure [dbo].[usuario_modificar]
@login varchar(50),@pass varchar(50),@nombre varchar(50),
@apellido varchar(50),@correo varchar(50), @intentos int , @habilitado int,  @dvh varchar(50) as
begin
update Usuario set nombre = @nombre, apellido = @apellido, correo = @correo, intentos = @intentos, 
habilitado = @habilitado, DVH = @dvh where login = @login;
end
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usuario_modificarPass]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usuario_modificarPass]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[usuario_modificarPass]
@login varchar(50),@pass varchar(50) as
begin
update Usuario set pass = @pass where login = @login;
end
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usuario_permiso_leer]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usuario_permiso_leer]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[usuario_permiso_leer]
 as
begin
select * from usuario_permiso
end

' 
END
GO
/****** Object:  StoredProcedure [dbo].[usuario_permisos]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usuario_permisos]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[usuario_permisos]
@usuario varchar(50) as
begin
select * from usuario_permiso where Usuario_permiso.usuario = @usuario;
end

' 
END
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Bitacora]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Bitacora](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [varchar](50) NOT NULL,
	[accion] [varchar](50) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[DVH] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[digitoverificador]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[digitoverificador]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[digitoverificador](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tabla] [varchar](50) NOT NULL,
	[DVV] [varchar](50) NOT NULL,
	[DVH] [varchar](50) NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Item]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Item]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Item](
	[pedido] [int] NOT NULL,
	[producto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [float] NOT NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[pedido] ASC,
	[producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Panaderia]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Panaderia]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Panaderia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[ubicacion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Panaderia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Pedido]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Pedido](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[panaderia] [int] NOT NULL,
	[usuario] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Pedido] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Permiso]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Permiso](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Permiso] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Producto]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Producto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[imagen] [varchar](50) NOT NULL,
	[DVH] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuario]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[login] [varchar](50) NOT NULL,
	[pass] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[intentos] [int] NOT NULL,
	[habilitado] [int] NOT NULL,
	[DVH] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario_permiso]    Script Date: 24/11/2017 00:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuario_permiso]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Usuario_permiso](
	[usuario] [varchar](50) NOT NULL,
	[permiso] [int] NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([id], [usuario], [accion], [fecha], [DVH]) VALUES (16, N'webmaster', N'Logueo de: Webmaster', CAST(0x0000A831013603F0 AS DateTime), N'd5325567fce54c5b505ed8aed29d3db649b51266')
INSERT [dbo].[Bitacora] ([id], [usuario], [accion], [fecha], [DVH]) VALUES (17, N'webmaster', N'Logueo de: Webmaster', CAST(0x0000A83101747528 AS DateTime), N'b42f4de243c5da4d536f794d3a69972b54a00684')
INSERT [dbo].[Bitacora] ([id], [usuario], [accion], [fecha], [DVH]) VALUES (18, N'webmaster', N'Logueo de: Webmaster', CAST(0x0000A83101756730 AS DateTime), N'cc1cccc1f2cd5264a74cdab382e78baa21a0b09b')
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
SET IDENTITY_INSERT [dbo].[digitoverificador] ON 

INSERT [dbo].[digitoverificador] ([id], [tabla], [DVV], [DVH]) VALUES (1, N'Usuario', N'648d32f4333fb7d173c56d7cac7fdfcc0704fa1b', N'74b7d1fd820bfc4ce561f0392f138742f05cdb0d')
INSERT [dbo].[digitoverificador] ([id], [tabla], [DVV], [DVH]) VALUES (3, N'Producto', N'0cab4075ebec894352d6896a952237009e3614a9', N'a2f64c985d08c0c9a9982b81539036e734197ae0')
INSERT [dbo].[digitoverificador] ([id], [tabla], [DVV], [DVH]) VALUES (6, N'Bitacora', N'e4906c5900fb6ef264a3ecc843303869b213c4e9', N'c468dcd0cc1459c12a48af0f418ef98aa2d7f31f')
SET IDENTITY_INSERT [dbo].[digitoverificador] OFF
SET IDENTITY_INSERT [dbo].[Panaderia] ON 

INSERT [dbo].[Panaderia] ([id], [nombre], [ubicacion]) VALUES (1, N'Panaderia 1', N'1')
INSERT [dbo].[Panaderia] ([id], [nombre], [ubicacion]) VALUES (2, N'Panaderia 2', N'2')
INSERT [dbo].[Panaderia] ([id], [nombre], [ubicacion]) VALUES (3, N'Panaderia 3', N'3')
SET IDENTITY_INSERT [dbo].[Panaderia] OFF
SET IDENTITY_INSERT [dbo].[Permiso] ON 

INSERT [dbo].[Permiso] ([id], [descripcion]) VALUES (1, N'Administrador')
INSERT [dbo].[Permiso] ([id], [descripcion]) VALUES (2, N'Webmaster')
SET IDENTITY_INSERT [dbo].[Permiso] OFF
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([id], [descripcion], [imagen], [DVH]) VALUES (1, N'Medialuna', N'1.png', N'4d696ac08ece69700303ccceabaa39b12cae8a63')
INSERT [dbo].[Producto] ([id], [descripcion], [imagen], [DVH]) VALUES (2, N'Vigilante', N'2.png', N'834f94c6053a6c46d40df4c87b681bdca4f06a2d')
INSERT [dbo].[Producto] ([id], [descripcion], [imagen], [DVH]) VALUES (3, N'Tortita Negra', N'3.png', N'4453abbe897d6278d09d0273075bd568d4f4befb')
SET IDENTITY_INSERT [dbo].[Producto] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id], [login], [pass], [nombre], [apellido], [correo], [intentos], [habilitado], [DVH]) VALUES (1, N'administrador', N'9dbf7c1488382487931d10235fc84a74bff5d2f4', N'juan', N'sanchez', N'juansanchez@gmail.com', 0, 0, N'650cdbd0276e67ca9ed87fe8c93363e9239e9085')
INSERT [dbo].[Usuario] ([id], [login], [pass], [nombre], [apellido], [correo], [intentos], [habilitado], [DVH]) VALUES (3, N'palermo', N'429a95c0a134b81387eb7d4ec9b42ee10b7ad325', N'Martin', N'Palermo', N'palermo@gmail.com', 0, 0, N'211ac7c28ed4e96c3db7f921323b3ebc76439af5')
INSERT [dbo].[Usuario] ([id], [login], [pass], [nombre], [apellido], [correo], [intentos], [habilitado], [DVH]) VALUES (2, N'webmaster', N'50f3f01caa053693ce619d596e14b0ff3901ab49', N'roberto', N'piombi', N'robertopiombi@gmail.com', 0, 0, N'76b1de50a1573565c55b5bb11b7ed0b3dba2fc2b')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
INSERT [dbo].[Usuario_permiso] ([usuario], [permiso]) VALUES (N'administrador', 1)
INSERT [dbo].[Usuario_permiso] ([usuario], [permiso]) VALUES (N'webmaster', 2)
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Item_Pedido]') AND parent_object_id = OBJECT_ID(N'[dbo].[Item]'))
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_Pedido] FOREIGN KEY([pedido])
REFERENCES [dbo].[Pedido] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Item_Pedido]') AND parent_object_id = OBJECT_ID(N'[dbo].[Item]'))
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_Pedido]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Item_Producto]') AND parent_object_id = OBJECT_ID(N'[dbo].[Item]'))
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_Producto] FOREIGN KEY([producto])
REFERENCES [dbo].[Producto] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Item_Producto]') AND parent_object_id = OBJECT_ID(N'[dbo].[Item]'))
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_Producto]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Pedido_Panaderia]') AND parent_object_id = OBJECT_ID(N'[dbo].[Pedido]'))
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Panaderia] FOREIGN KEY([panaderia])
REFERENCES [dbo].[Panaderia] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Pedido_Panaderia]') AND parent_object_id = OBJECT_ID(N'[dbo].[Pedido]'))
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Panaderia]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Pedido_Usuario]') AND parent_object_id = OBJECT_ID(N'[dbo].[Pedido]'))
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Usuario] FOREIGN KEY([usuario])
REFERENCES [dbo].[Usuario] ([login])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Pedido_Usuario]') AND parent_object_id = OBJECT_ID(N'[dbo].[Pedido]'))
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Usuario]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_usuario_permiso_Permiso]') AND parent_object_id = OBJECT_ID(N'[dbo].[Usuario_permiso]'))
ALTER TABLE [dbo].[Usuario_permiso]  WITH CHECK ADD  CONSTRAINT [FK_usuario_permiso_Permiso] FOREIGN KEY([permiso])
REFERENCES [dbo].[Permiso] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_usuario_permiso_Permiso]') AND parent_object_id = OBJECT_ID(N'[dbo].[Usuario_permiso]'))
ALTER TABLE [dbo].[Usuario_permiso] CHECK CONSTRAINT [FK_usuario_permiso_Permiso]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_usuario_permiso_Usuario]') AND parent_object_id = OBJECT_ID(N'[dbo].[Usuario_permiso]'))
ALTER TABLE [dbo].[Usuario_permiso]  WITH CHECK ADD  CONSTRAINT [FK_usuario_permiso_Usuario] FOREIGN KEY([usuario])
REFERENCES [dbo].[Usuario] ([login])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_usuario_permiso_Usuario]') AND parent_object_id = OBJECT_ID(N'[dbo].[Usuario_permiso]'))
ALTER TABLE [dbo].[Usuario_permiso] CHECK CONSTRAINT [FK_usuario_permiso_Usuario]
GO
USE [master]
GO
